.img-poster{
    opacity: 1;
    transition: all 400ms;
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // overflow: hidden;
    
}


.p-relative{
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.129);
    border-radius: 15px;
    padding: 10px;

    // border-radius: 5px;
    // display: flex;
    // flex-direction: column;
    // flex-wrap: wrap;
}

.card-info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 500ms;
    background-color: rgba(0, 0, 0, 0.785);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    
}

.p-relative:hover .card-info{
    opacity:1;
    overflow-y: scroll;

}
.p-relative:hover .img-poster{
    opacity:0.3;
}

.star{
    color: gold;
}

.film-list,.series-list{
    padding: 5rem 0;
}